@define-color bg #14140c;
@define-color fg #e5e3d6;
@define-color surface #14140c;
@define-color surface2 #47473b;
@define-color accent #c7cc79;
@define-color urgent #ffb4ab;
@define-color outline #929182;
