@define-color bg #0e1415;
@define-color fg #dde4e4;
@define-color surface #0e1415;
@define-color surface2 #3f4849;
@define-color accent #80d4db;
@define-color urgent #ffb4ab;
@define-color outline #899393;
