window#waybar,
window#waybar * {
  font-family: "JetBrainsMono Nerd Font", sans-serif;
  font-size: 13px;
  color: #fcfaf3;
}

#waybar {
  background: transparent;
  border: none;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
  padding: 4px 0;
}

#workspaces button,
#window,
#clock,
#tray,
#cpu,
#memory,
#pulseaudio,
#network,
#battery,
#backlight {
  background: #141616;
}

#workspaces button {
  border-radius: 30px;
  padding: 2px 10px;
  margin: 0 5px;
}
#workspaces button.focused {
  background: #2a2c2c;
}

#window {
  border-radius: 30px;
  padding: 2px 10px;
  margin: 0 5px;
}
#waybar.empty #window {
  background: none;
}

#clock {
  border-radius: 30px;
  padding: 2px 10px;
}

#tray {
  border-radius: 30px;
  padding: 2px 10px;
  margin-left: 10px;
  margin-right: 10px;
}
#tray image {
  padding: 0 4px;
}
#tray > .passive {
  opacity: 0.6;
}

#cpu,
#memory {
  border-radius: 0;
  padding: 2px 15px;
  margin: 0;
}
#cpu {
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  margin-left: 10px;
  border-right: 1px solid #2a2c2c;
}
#memory {
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  margin-right: 10px;
}

#pulseaudio,
#network {
  border-radius: 0;
  padding: 2px 15px;
  margin: 0;
}
#pulseaudio {
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  margin-left: 10px;
  border-right: 1px solid #2a2c2c;
}
#network {
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  margin-right: 10px;
}

#battery,
#backlight {
  border-radius: 0;
  padding: 2px 15px;
  margin: 0;
}
#battery {
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  margin-left: 10px;
  border-right: 1px solid #2a2c2c;
}
#backlight {
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  margin-right: 10px;
}

#battery.warning {
  color: #f0c674;
}
#battery.critical {
  color: #cc6666;
}
#network.disconnected {
  color: #cc6666;
}
#pulseaudio.muted {
  color: #cc6666;
}

menu,
menuitem {
  background-color: #141616;
  color: #fcfaf3;
}
menuitem:hover {
  background-color: #2a2c2c;
  color: #fcfaf3;
}

tooltip {
  background: #141616;
  color: #fcfaf3;
  border-radius: 10px;
  padding: 8px;
}
